<h1>Menu</h1>

<table>
  <tr>
    <th>Item</th>
    <th>Cost</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @menus.each do |menu| %>
  <tr>
    <td><%= menu.item %></td>
    <td><%= menu.cost %></td>
    <td><%= link_to 'Show', menu %></td>
    <td><%= link_to 'Edit', edit_menu_path(menu) %></td>
    <td><%= link_to 'Destroy', menu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Menu Item', new_menu_path %>
<br />
<br />
<br />
<%= button_to 'Tickets Page', tickets_path, :class => "button", :method => :get %>
<%= button_to 'Receipts Page', customer_receipts_path, :class => "button", :method => :get %>

