<p id="notice"><%= notice %></p>

<p>
  <b>Item:</b>
  <%= @menu.item %>
</p>

<p>
  <b>Cost:</b>
  <%= @menu.cost %>
</p>


<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
