<%= form_for(@ticket) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :table_number, "Waitstaff: Select table number" %><br />
    <%= f.select :table_number, [[1, '1'], [2, '2'], [3, '3'], [4, '4'], [5, '5']] %>
  </div>
  <div class="field">
    <%= f.label :menu_id, "Waitstaff: Select item" %><br />
    <%= f.select :menu_id, Menu.find(:all).collect {|m| [(m.item), m.id]} %>
  </div>
  <div class="field">
    <%= f.label :item_status, "Waitstaff: Select New" %><br />
    <%= f.radio_button :item_status, 'New' %> <%= f.label "ticket_new", "New" %> <br />
    <%= f.radio_button :item_status, 'In Progress' %> <%= f.label "ticket_in_progress", "In Progress (COOK ONLY!)" %> <br />
    <%= f.radio_button :item_status, 'Complete' %> <%= f.label "ticket_complete", "Complete (COOK ONLY!)" %> <br />
  </div>
  <div class="field">
    <%= f.label :paid_status, "Waitstaff: Select Not Paid" %><br />
    <%= f.radio_button :paid_status, 'Not Paid' %> <%= f.label "not_paid", "Not Paid" %> <br />
    <%= f.radio_button :paid_status, 'Paid' %> <%= f.label "paid", "Paid (CASHIER ONLY!)" %> <br />
  </div>
  <div class="actions">
    <%= f.submit "Submit New Ticket" %>
  </div>
<% end %>
