<h1>Editing Ticket</h1>
<h3>Note: </h3>
<h3>Cooks should ONLY change item status, not items themselves.</h3>
<h3>Cashiers should ONLY edit paid status.</h3>

<%= render 'form' %>

<%= link_to 'Show', @ticket %> |
<%= link_to 'Back', tickets_path %>
