<h1>Tickets</h1>

<table>
  <tr>
    <th>Table number</th>
    <th>Item</th>
    <th>Item status</th>
    <th>Paid status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.table_number %></td>
    <td><%= ticket.menu.item %></td>
    <td><%= ticket.item_status %></td>
    <td><%= ticket.paid_status %></td>
    <td><%= link_to 'Show Ticket', ticket %></td>
    <td><%= link_to 'Edit Ticket', edit_ticket_path(ticket) %></td>
    <td><%= link_to 'Delete Ticket', ticket, method: :delete, data: { confirm: 'Cooks CANNOT delete tickets! If you are a cook, please hit "Cancel"' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ticket', new_ticket_path %>
<br />
<br />
<br />
<%= button_to 'Menu Page (Restaurant Managers ONLY)', menus_path, :class => "button", :method => :get %>
<%= button_to 'Receipts Page', customer_receipts_path, :class => "button", :method => :get %>
