<p id="notice"><%= notice %></p>

<p>
  <b>Table number:</b>
  <%= @ticket.table_number %>
</p>

<p>
  <b>Menu:</b>
  <%= @ticket.menu.item %>
</p>

<p>
  <b>Item status:</b>
  <%= @ticket.item_status %>
</p>

<p>
  <b>Paid status:</b>
  <%= @ticket.paid_status %>
</p>


<%= link_to 'Edit Ticket', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
