<%= form_for(@customer_receipt) do |f| %>
  <% if @customer_receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_receipt.errors.count, "error") %> prohibited this customer_receipt from being saved:</h2>

      <ul>
      <% @customer_receipt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ticket_id, "Table Number" %><br />
    <%= f.select :ticket_id, Ticket.find(:all).collect {|t| [(t.table_number), t.id]} %>
  </div>
  <div class="field">
    <%= f.label :cost %><br />
    <%= f.text_field :cost %>
  </div>
  <div class="field">
    <%= f.hidden_field :tax %><br />
    <%= f.hidden_field :tax %>
  </div>
  <div class="field">
    <%= f.hidden_field :total %><br />
    <%= f.hidden_field :total %>
  </div>
  <div class="actions">
    <%= f.submit 'Create Receipt' %>
  </div>
<% end %>
