<h1>Receipt</h1>

<table>
  <tr>
    <th>Table Number</th>
    <th>Cost</th>
    <th>Tax</th>
    <th>Total</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customer_receipts.each do |customer_receipt| %>
  <tr>
    <td><%= customer_receipt.ticket.table_number %></td>
    <td><%= customer_receipt.cost %></td>
    <td><%= customer_receipt.tax %></td>
    <td><%= customer_receipt.total %></td>
    <td><%= link_to 'Show', customer_receipt %></td>
    <td><%= link_to 'Edit', edit_customer_receipt_path(customer_receipt) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create Receipt', new_customer_receipt_path %>
<br />
<br />
<br />
<%= button_to 'Menu Page (Restaurant Managers ONLY)', menus_path, :class => "button", :method => :get %>
<%= button_to 'Tickets Page', tickets_path, :class => "button", :method => :get %>
