<h1>Create Receipt</h1>
<h3>Instructions to Cashier:</h3>
<h4>Select a table number from the drop down menu. Enter in cost. Click "Create Receipt".</h4>
<%= render 'form' %>

<%= link_to 'Back', customer_receipts_path %>
