<p id="notice"><%= notice %></p>

<p>
  <b>Table Number:</b>
  <%= @customer_receipt.ticket.table_number %>
</p>

<p>
  <b>Cost:</b>
  <%= @customer_receipt.cost %>
</p>

<p>
  <b>Tax:</b>
  <%= @customer_receipt.tax %>
</p>

<p>
  <b>Total:</b>
  <%= @customer_receipt.total %>
</p>


<%= link_to 'Edit', edit_customer_receipt_path(@customer_receipt) %> |
<%= link_to 'Back', customer_receipts_path %>
