<%= form_for(@receipt) do |f| %>
  <% if @receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@receipt.errors.count, "error") %> prohibited this receipt from being saved:</h2>

      <ul>
      <% @receipt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ticket_id, "Table Number" %><br />
    <%= f.select :ticket_id, Ticket.find(:all).collect {|t| [(t.table_number), t.id]} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
