<h1>Customer Receipt</h1>

<table>
  <tr>
    <th>Ticket Number</th>
    <th>Cost</th>
    <th>Tax</th>
    <th>Total</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @receipts.each do |receipt| %>
  <tr>
    <td><%= receipt.ticket.ticket_id %></td>
    <td><%= receipt.ticket.menu_id %></td>
    <td><%= receipt.tax %></td>
    <td><%= receipt.total %></td>
    <td><%= link_to 'Show', receipt %></td>
  </tr>
<% end %>
</table>
<br />
<br />
<%= link_to 'Create Receipt', new_receipt_path %>
<br />
<br />
<br />
<%= button_to 'Menu Page (Restaurant Managers ONLY)', menus_path, :class => "button", :method => :get %>
<%= button_to 'Tickets Page', tickets_path, :class => "button", :method => :get %>