<h1>Create Receipt</h1>
<h3>Instructions to Cashier:</h3>
<h4>Select a table number from the drop down menu. Click "Create Receipt".</h4>
<h4>If there were multiple customers at the table, repeat this process for each instance of that table.</h4>

<%= render 'form' %>

<%= link_to 'Back', receipts_path %>
