<p id="notice"><%= notice %></p>

<p>
  <b>Table:</b>
  <%= @receipt.ticket.ticket_id %>
</p>

<p>
  <b>Cost:</b>
  <%= @receipt.ticket.menu.cost %>
</p>

<p>
  <b>Tax:</b>
  <%= @receipt.tax %>
</p>

<p>
  <b>Total:</b>
  <%= @receipt.total %>
</p>


<%= link_to 'Edit', edit_receipt_path(@receipt) %> |
<%= link_to 'Back', receipts_path %>
